
@{
    ViewBag.Title = "Already_Applied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You already have applied for this Job!</h2>
<div>
    <div class="col-lg-2">
        @Html.ActionLink("Go Back","DisplayAllJob_Load","DisplayAllJobs")
    </div>
</div>
